
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div id="alertBox" class="alert alert-primary" role="alert">
        @TempData["Message"]
    </div>
}
<h2>Home Page</h2>

